<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.irving.wcs.mapper.UserMapper">
 
 	<select id="createUser" parameterType="user">
        insert into t_user (user_id, user_code, user_name, state, user_password) values (
          #{userId},
          #{userCode},
          #{userName},
          #{state},
          #{userPassword}
        )
 	</select>
 
 </mapper>


